# MacOS
.DS_Store
.AppleDouble
.LSOverride

# CMake / Build
build/
build_gw/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
*.cmake
*_artefacts/

# VS Code
.vscode/

# Audio & Assets
*.wav
*.aiff
*.zip
*.nam
plugins/Bossman/Tone/

# VST3
*.vst3
*.component

# Python
__pycache__/
*.pyc
.venv/
*.pt

# Node
node_modules/
